<h1>Tamagotchi</h1>
<div class=Tama1>
  <p>My Tamagotchi</p>
  <ul>
    <li>Pet Name: @Model.GetName()</li>
    <li>Hunger Meter: @Model.GetFood()</li>
    <li>Attention Meter: @Model.GetAttention()</li>
    <li>Sleep Meter: @Model.GetSleep()</li>
    <li>Is @Model.GetName() alive: @Model.GetAlive()</li>

  <a href="/tamagotchi/update"><button>Pass Time</button></a>
</div>
